<footer class="site-footer">
  <div class="container footer-container">
      
    <!-- Start of SimpleHitCounter Code -->
    <div align="center" class="flag-counter">
    <a href="https://info.flagcounter.com/h46d">
    <img src="https://s01.flagcounter.com/count/h46d/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_3/labels_0/pageviews_1/flags_0/percent_0/"
    alt="Flag Counter" border="0"></a>
    </div>
    <!-- End of SimpleHitCounter Code -->
   <section align="center" class="small-font">
        Copyright © 2018 The ThinkPads.org Team
    </section>
    </div>
</footer>
