<footer class="site-footer">
  <div class="container footer-container">
      
    <!-- Start of SimpleHitCounter Code -->
    <div align="center" class="flag-counter">
    <a href="https://info.flagcounter.com/h46d">
    <img src="https://s01.flagcounter.com/count/h46d/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_3/labels_0/pageviews_1/flags_0/percent_0/"
    alt="Flag Counter" border="0"></a>
    </div>
    <!-- End of SimpleHitCounter Code -->
    <div style="margin: 0 auto">
    <script type="text/javascript">
    google_ad_client = "ca-pub-1944051885850995";
        google_ad_slot = "7492467470";
	    google_ad_width = 320;
	        google_ad_height = 100;
    </script>
    <!-- Default Ads -->
    <script type="text/javascript"
	    src="//pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
    </div>
    <section align="center" class="small-font">
        Copyright © 2018 The ThinkPads.org Team
    </section>
    </div>
</footer>
