<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="/res/dot.png">
        <link rel="stylesheet" href="/res/main.css"/>
        <meta name="google-site-verification" content="HNTc72hzQ7qrGaTSYKFebEjAXclnIHOdPxopdbUghu8" />
        {% block metadata %}
        {% endblock %}
    </head>
    <body>
        <div id="header-cont">
            <header>
                <div>
                    <a href="/"><img id="logo" src="/res/logo.png"></a>
                </div>
                <div class="btn-cont">
                    <a href="https://github.com/libthinkpad"><img src="/res/repo.png"></a>
                </div>
            </header>
        </div>

        <div id="master-container">

            <div id="sidebar-nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog - recent</a>
                        <ul>
                            {% for post in recent.posts %}
                                <a href="/blog/{{ post[0] }}"><li>{{ post[1] }}</li></a>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="/projects">Projects</a>
                         <ul>
                            {% for project in recent.projects %}
                                <a href="/projects/{{ project }}"><li>{{ project }}</li></a>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="/repositories">Repositories</a>
                        <ul>
                            <a href="/repositories/#ubuntu"><li>Ubuntu</li></a>
                            <a href="/repositories/#arch-linux"><li>Arch Linux</li></a>
                        </ul>
                    </li>
                    <li><a href="/ftp">FTP Index</a></li>
                    <li><a style="color: red" href="/fru">FRU System Service Parts</a></li>
                    <li><a href="/about">About us/contact</a></li>
                </ul>

            </div>

            <div id="body-wrap">
                {% block body %}
                {% endblock %}
            </div>

            </div>

        <div id="footer-cont">
            <footer>
                <div id="footer-container">
                    <p>Hosted by:</p>
                    <div id="github-logo-cont">
                        <img class="github-logo" src="/res/github.png"/>
                    </div>
                    <p>Thanks guys!</p>
                    <p>Copyright (c) 2017 ThinkPads.org</p>
                    <!-- Start of SimpleHitCounter Code -->
                    <div align="center">
                    <a href="https://info.flagcounter.com/h46d">
                        <img src="https://s01.flagcounter.com/count/h46d/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_3/labels_0/pageviews_1/flags_0/percent_0/"
                             alt="Flag Counter" border="0"></a>
                    </div>
                    <!-- End of SimpleHitCounter Code -->
                    </div>
                    <div align="center" style="padding: 10px">
                        <img src="/res/notepad.gif"/>
                    </div>
                    <div align="center">
                    <img src="/res/ns_logo.gif"/>
                    <img src="/res/ie_logo.gif"/>
                    <img src="/res/noframes.gif"/>
                    </div>
            </footer>
        </div>
    </body>
</html>