{% extends "base.html" %}

{% block title %}
    Blog - ThinkPads.org
{% endblock %}

{% block metadata %}
{% endblock %}

{% block body %}

    <h1>Blog - ThinkPads.org</h1>

    {% for post in posts %}

        <a href="/blog/{{ post.get_file() }}"><h3 class="post-title">{{ post.get_title() }}</h3></a>
        <p class="post-author index-author">{{ post.get_author() }} - {{ post.get_date() }}</p>
        <img width="460" src="{{ post.get_image() }}">
        <p>{{ post.get_description() }}</p>

        {% if post != posts[-1] %}
            <hr class="post-div">
        {% endif %}

    {% endfor %}

    <script>

        function get_post_name()
	    {
            let raw = document.location.search;
            let split = raw.split("=");
            if (split.length != 2)
                return null
            return split[1];
	    }

        if (get_post_name() != null)
            window.location = document.location.origin + "/blog/" + get_post_name();

    </script>

{% endblock %}